cnn_lstm_notebooks/models/model_c1_nc1_50_l5_nl1_2000_nl2_1000_nl3_500_e10_bs512.h5 filter=lfs diff=lfs merge=lfs -text
cnn_lstm_notebooks/models/model_tanh_c1_nc1_10_l5_nl1_2000_nl2_1000_nl3_500_e10_bs64.h5 filter=lfs diff=lfs merge=lfs -text
model_c1_nc1_50_l5_nl1_2000_nl2_1000_nl3_500_e10_bs512.h5 filter=lfs diff=lfs merge=lfs -text
